.calculator {
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 15px 20px 70px -10px;
  flex-wrap: wrap;
}

.calculator p {
  font-size: 2rem;
  margin: 0;
}

.calculator small {
  font-weight: lighter;
  color: gray;
}

.calculator .left-slider {
  justify-content: flex-start;
  width: 70%;
  flex: 1 0 0;
  order: 1;
}

.calculator .right-slider {
  justify-content: flex-end;
  width: 50%;
  flex: 1 0 0;
  order: 2;
  padding-left: 4rem;
}

@media (max-width: 600px) {
  .calculator .left-slider {
    justify-content: flex-start;
    width: 100%;
    order: 1;
  }

  .calculator .right-slider {
    justify-content: flex-end;
    margin-left: -75px;
    width: 100%;
    order: 2;
    padding-top: 1.5rem;
  }
}

@media (max-width: 960px) {
  .calculator .left-slider {
    justify-content: flex-start;
    width: 100%;
    order: 1;
  }

  .calculator .right-slider {
    justify-content: flex-end;
    margin-left: -63px;
    width: 100%;
    order: 2;
    padding-top: 1.5rem;
  }
}

.calculator .input-range {
  padding: 0.3rem;
  padding-top: 3.5rem;
}

.calculator .input-range .input-range__track--active {
  background: none;
}

.calculator .input-range .input-range__track {
  height: 0.5rem;
}

.calculator .input-range .input-range__label--value {
  display: none;
}

.calculator .form-left {
  font-size: 22px;
  color: #000;
  padding-top: 15px;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.calculator .label-left {
  width: 50%;
}

.calculator .input-left {
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  border: 0;
  width: 40%;
  max-width: 100%;
  color: #222;
  background: rgb(255, 234, 196);
  text-align: right;
  border-radius: 5px;
  padding: 0px 10px;
}

.calculator .input-range .input-range__slider {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -1rem;
  border: 1px solid #3498db;
  background-color: #3498db;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.calculator .input-range__label-container {
  left: -50%;
  position: relative;
  top: -20px;
  color: #7f8c8d;
  font-size: 14px;
}

.calculator .input-range__label--max .input-range__label-container {
  left: 20%;
}

.calculator input[type="button"] {
  margin-top: 1.5rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  font-size: 1.5rem;
  color: #ffffff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  background-color: #5b94d9;
}

.calculator .type-payment {
  width: 50%;
  font-size: 22px;
}

.calculator .select-payment {
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  border: 0;
  width: 40%;
  height: 3.5rem;
  max-width: 100%;
  color: #222;
  background: rgb(255, 234, 196);
  text-align: center;
  border-radius: 5px;
  padding-left: 25px;
}
